* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  background:rgb(1, 1, 30);
 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

:root {
    --secondary: #001660;
    --secondary1: #07001d;
    --secondary2: #638aff;
    --secondary3: #368dea;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background: rgb(0, 0, 16);
    padding: 1.3em 1.9em;
    box-shadow: #638affae 2px 2px;
    z-index: 99999999999999;
}

.logo {
    font-size: 1.7em;
    font-weight: 700;
    color: aliceblue;
    text-decoration: none;
    letter-spacing: 2px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: aliceblue;
}

nav a:hover {
    background-color: #000023;
    width: 100%;
    padding: 7px 27px;
    border-radius: 12px;
    border-bottom: 2px solid rgb(140, 173, 243);
}

.handburger {
    display: none;
    cursor: pointer;
}

.menu-btn {
    display: none;
}

.menu-btn span {
    background-color: aliceblue;
    width: 100%;
    height: 3px;
    border-radius: 12px;
}

/* hero-section */
.hero{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-evenly;
    align-items: center;
    margin-top:50px ;
    
}

#hero-p{
    color: aliceblue;
    font-size: 2em;
    font-weight: 600;
    text-shadow: #0e0000 1px 1px;
}

h1{
    font-size: 3.4rem;
    color: aliceblue;
    font-weight: 900;
     text-shadow: #0e0000 1px 1px;
}

span{
    color: #ff0000;
    text-shadow: #0f0202 1px 2px 2px;
    font-weight: 900;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

    .hero div img{
        width: 250px;
        height: 250px;
        border-radius: 50%;
        border: 7px solid #07001d;
        box-shadow: #031e70 4px 3px ;
    }

    .hero-btn{
        background-color: transparent;
        width: 150px;
        padding: 0.8em 2em; 
        border: #ffffff 1px solid;
        color: aliceblue;
        margin-right: 20px;
        margin-top: 20px;
        border-radius: 12px;
    }

     .hero-btn:hover{
        background-color:#031e70;
        width: 150px;
        padding: 0.8em 2em; 
        border: #ffffff 1px solid;
        color: aliceblue;
        margin-right: 20px;
        border-radius: 12px;
    }

/* section 2 */
.About-Us{
    margin-top: 120px;
    background-color: #07002e;
    border-radius: 32px 32px 0px 0px;
    padding: 10px 20px;
    height: auto
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap:wrap;
    flex-direction: row-reverse;
}

h4{
    font-size: 1.5rem;
    font-weight: 900;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#ff0000 ;
}



h2{
   font-size: 1.9rem;
   color: white;
    font-weight: 500;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 10px;
}

hr{
    width: 200px;
    border: #cdcdfb solid 3px;
    margin-top: 10px;
}

p{
    font-size: 14px;
    text-align: left;
    padding-top: 20px;
    color: #d4e9ff;
    max-width: 500px;
}

.about-btn{
    background-color: rgb(1, 12, 35);
        width: 250px;
        padding: 0.8em 1em; 
        border: #ffffff 2px solid;
        color: aliceblue;
       display: block;
       margin-bottom: 10px;
       text-decoration: none;
       text-align: center;
       border-radius: 12px;
}


/* achievements section */
.acheivement{
   
}
h4{
    padding-left: 20px;
    padding-top: 20px;
}

h2{
    padding-left: 20px;
}

.achieve-span{
    font-size: 4.7rem;
}

#p1{
    text-align: center;
    font-size: 1.5em;
}
.flex2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 50px;
  
}

/* services */
.services{

}
.flex3{
display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 20px;
    gap: 28px;
 
   
}

h3{
    color: #dcedff;
}

.box2{
background-color: #030f36;
padding: 20px;
max-width: 300px;
 height: 200px;
border-bottom: red 1px solid;
border-right:red 1px solid;
}

.box2:hover{
    border-bottom: red 10px solid;
    border-right:red 10px solid;
    transition-duration:2s ;
}
@media(max-width:1120px) {
    nav {
        text-align:center;
        font-weight: 600;
        position: absolute;
        flex-direction: column;
        top: 90px;
        left: 0;
        gap: 15px;
        padding: 20px;
        width: 100%;
        background: linear-gradient(90deg, #001660, #0f3cc6, #293763, #001660);
    }

    .menu-btn {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 25px;
        height: 18px;
        cursor: pointer;
    }


    .handburger~nav {
        display: none;
    }

    .handburger:checked~nav {
        display: flex;
    }


    /* hero section */

    #hero-p{
        text-align: center;
        margin-top: 20px;
    }
    h1{
        font-size: 2.5rem;
        text-align: center;
    }

    .hero-buttons{
       display: block;
       margin: auto;
       width: 50%;
    }

    .hero-btn{
        border: solid 2px white;
         display: block;
       margin: auto;
       gap: 20px;
       margin-bottom: 20px;
margin-top: 10px;
        border-radius: 12px;
    }
/* about-us */
    .About-Us p {
        max-width: 100%;
    }
.About-Us img{
    display: none;
}

/* .acheivement */
.flex2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
}

/* .services */
.flex3{
    display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        gap: 15px;
        /* margin: 20px 80px; */
}
   


.box2{
background-color: #030f36;
padding: 20px;
 height: 285px;
border-bottom: red 1px solid;
border-right:red 1px solid;
}

}